<div class="jumbotron center">
<h1>Just a bit about myself!!</h1>
<p>My name is Keith. </p>
<p>I am a self-made Linux Admin, amateur developer and full time support team manager. </p>
<p> I live to learn. Anything and everything I can do to become a better manager, a better admin, a better human... That is where I want to be!</p>
</div>
